In [185]:
# Linear Regression

'''
This model predicts the Housing Price based year using linear regression model.
'''

# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pickle
import requests
import json

In [186]:
# Importing the dataset
df = pd.read_csv('./../All_homes.csv')
df1=df.drop(columns=['Unnamed: 0'])
df1.head()

,RegionName,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Avg_All_homes
0,Alabama,105666.67,101700.00,97250.00,97266.67,106500.00,110666.67,113200.00,117066.67,120333.33,126608.33,131450.00,111609.85
1,Alaska,275641.67,277816.67,278478.57,277408.33,281925.00,287891.67,300550.00,303491.67,305766.67,309141.67,310016.67,291648.05
2,Arizona,167816.67,150333.33,136100.00,144241.67,166925.00,179875.00,190583.33,206758.33,223658.33,241525.00,253250.00,187369.70
3,Arkansas,99025.00,97391.67,94678.57,94041.67,97141.67,99958.33,103533.33,109483.33,115558.33,121600.00,126733.33,105376.84
4,California,342408.33,332483.33,312535.71,310858.33,363791.67,407491.67,435458.33,466533.33,504300.00,540650.00,549183.33,415063.10

In [187]:
df2=df1.loc[df1['RegionName']=='California']
df2

,RegionName,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,Avg_All_homes
4,California,342408.33,332483.33,312535.71,310858.33,363791.67,407491.67,435458.33,466533.33,504300.0,540650.0,549183.33,415063.1

In [188]:
df3=df2.pivot_table(df2,columns=['2009','2010','2011', '2012', '2013', '2014', '2015', '2016', '2017','2018', '2019'], index='2018',)
df4=df3.rename(columns={'Avg_All_homes':'Avg_housing_price'})
df4.to_csv("Cali_housing.csv", index=True, header=True)

In [189]:
df = pd.read_csv('./Cali_housing1.csv')
Housing_df=df.rename(columns={'Unnamed: 0':'Year'})
X = df.iloc[:, :-1].values
y = df.iloc[:, 1].values
Housing_df.head()

   Year  Avg_housing_price
0  2009          342408.33
1  2010          332483.33
2  2011          312535.71
3  2012          310858.33
4  2013          363791.67

In [190]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/3, random_state = 0)

In [191]:
# Fitting Simple Linear Regression to the Training set
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [155]:
# Fitting our model with all of our features in X
model.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [154]:
# Predicting the Test set results
y_pred = regressor.predict(X_test)
print(y_pred)

[415621.47597939 305804.46412372 503475.08546392]

In [158]:
score = model.score(X, y)
print(f"R2 Score: {score}")

R2 Score: 0.8962249472734891

In [193]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [194]:
# Loading model to compare the results
model = pickle.load( open('model.pkl','rb'))
print(model.predict([[2026]]))

[679182.304433]